@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-garamond: var(--font-cormorand-garamond);
  --font-playfair-display: var(--font-playfair-display);
  --font-lato: var(--font-lato);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #470d0d;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
